h1{
    font-size: 40px;
    color: rgb(49, 5, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 30px;
}
span{
    font-size: 50px;
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.container{
    background-color: beige;
    width: 80%;
    margin: auto;
    height: auto;
}
.gmailInput{
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px;
    border: 1px solid red;
    font-size: 15px;
    font-style: calc(red);
}
.passwordInput{
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid red;
}
.buttonInput{
    text-align: center;
    color: blue;
    background: red;
    padding: 18px 36px;
    border: 1px solid gold;
    cursor: pointer;

}